In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
file = open('adult.data', 'r')
def chr_int(a):
    if a.isdigit(): return int(a)
    else: return 0

data = []
for line in file:
    data1 = line.split(',')
    if len(data1) == 15:
        data.append([
            chr_int(data1[0]), data1[1],
            chr_int(data1[2]), data1[3],
            chr_int(data1[4]), data1[5],
            data1[6], data1[7], data1[8],
            data1[9], chr_int(data1[10]),
            chr_int(data1[11]),
            chr_int(data1[12]),
            data1[13], data1[14].strip()
        ])

# Worksheet 2
What does the  'r' do in the first line?
R indicates to open the file and read the file, turning it into a string, rather than writing into the file. These quotes ' ' indicate that it is a string
Describe the function chr_int in the second line
The isdigit() method returns True if all the characters are digits, otherwise False
Try compiling this with the "data1 - line.split(',') without that space, what happens?
data = [] means initializing an empty array, taking away the space will look for a place in the data without the space. If there is no place in the data with that identical lack of a space, then there will be nothing to output. With the space is the same condition 

Worksheet 3
What might be the best data structure to place this data in?
Data Frame

In [25]:
#turn data (which is currently in an array) into a dataframe 
adult = pd.DataFrame(
    data,
    columns = [
        'age', 'type-employer', 'fnlwgt',
        'education', 'education_num', 'marital',
        'occupation', 'relationship', 'race', 
        'sex', 'capital_gain', 'capitol_loss',
        'hr_per_week', 'country', 'income'
        
    ]
)
adult.head()

,age,type-employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capitol_loss,hr_per_week,country,income
0,39,State-gov,0,Bachelors,0,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,0,United-States,<=50K
1,50,Self-emp-not-inc,0,Bachelors,0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,38,Private,0,HS-grad,0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,0,United-States,<=50K
3,53,Private,0,11th,0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,0,United-States,<=50K
4,28,Private,0,Bachelors,0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,0,Cuba,<=50K

# Worksheet 4
Notice in the last cell we listed a bunch of column names, but the original data file didnt have any colomn names. How does Python know how to associate a column name to its column?

# Worksheet 5
Print the first few lines of the adult dataframe. Go to the pandas documentation website and read about the 'columns' parameter.

# Recall the guiding research question
"Are men more likely than women to become high income earners?" where high income earners are those who earn more than $50k/year.

This question is just asking if the proportion of men who earn above 50k higher, equal, or less than the proportion of all women who earn above 50k. This is different than asking if male ER doctors earn more than female ER doctors, e.g.

# We'll use this research question to inspire the creating of several sub-dataframes to make our analysis a bit easier.
Here are some examples
all men
all women
high income men
high income women
low income men 
low income women

In [22]:
#filtering columns
men = adult[adult['sex'] == 'Male']
women = adult[adult['sex'] == 'Female']
men_high_income = adult[(adult['sex']== 'Male') & (adult['income'] == '>50K')]
women_high_income = adult[(adult['sex']== 'Female') & (adult['income'] == '>50K')]
men_low_income = adult[(adult['sex']== 'Male') & (adult['income'] == '<=50K')]
women_low_income = adult[(adult['sex']== 'Female') & (adult['income'] == '<=50K')]

In [31]:
print men_low_income

Empty DataFrame
Columns: [age, type-employer, fnlwgt, education, education_num, marital, occupation, relationship, race, sex, capital_gain, capitol_loss, hr_per_week, country, income]
Index: []