Question 1:
Pandas library can be used to analyze data by outputting the data into a specifc format. Numpy library can be used to support multi-dimensional arrays. Matplotlib library can be used as a visualiation for 2D plots of arrays.

In [2]:
import  pandas as pd
import  numpy as np
import  matplotlib.pyplot as plt

In [3]:
# The output of this dataframe should mimic a menu of my favorite foods with menu "prices".
data = {
    
    'Food' : [
                'Arepas', 'Arroz',
                'Bread', 'Fries',
                'Wontons', 'Tempeh',
                'Tacos', 'Tostones',
                'Pupusas'
    ],
    'Price' : [1.50, 1.00, 0.99, 2.00, 3.00, 1.25, 5.00, 1.60, 4.50],
    'Amount' : [2, 1, 2, 10, 5, 3, 3, 5, 2]
}

food = pd.DataFrame (
    data,
    columns = [
        'Food' , 'Price' , 'Amount'
    ]
)
    
food

       Food  Price  Amount
0    Arepas   1.50       2
1     Arroz   1.00       1
2     Bread   0.99       2
3     Fries   2.00      10
4   Wontons   3.00       5
5    Tempeh   1.25       3
6     Tacos   5.00       3
7  Tostones   1.60       5
8   Pupusas   4.50       2

Question 3:
A dictionary in Python is a collection of key-pairs value of items. For each entry, there is a key and a value. It is an unordered collection of data values used to store data like a map.

Question 4:
The parameters for the Dataframe() function is dependent on the programmer. The programmer can control how large or small they want the parameter to be. In my example, the parameters are food, price, and amount, however, I wasn't limited to only 3, I just chose to use 3.

In [4]:
jimmy = 2

The output would be 2. For example, if you typed jimmy under, or a print function for jimmy, the output would be 2. This is taking jimmy, and assigning it to the value 2. So, 2 is stored as Jimmy in memory.

In [ ]:
jimmy**2

Similar to the last problem, the output would now be 4, since 2 is stored as jimmy and it would recognize that jimmy as an exponent of 2, would signal to the computer that 2 now must be multiplied by itself to get an output of 4.

In [ ]:
jimmy + 10

The output now would be 12. Similar to the previous, the computer recognizes that jimmy = 2 and to now add 2 with the value 10.

The data structure jimmy is an integer because if it was a string, usually there would be associated quotes around the string. For example, a string would look like, 'This is a string', whereas an integer is just a variable holding a value such as jimmy = 2.